In [1]:
# 예제 4-42
import pandas as pd

In [2]:
# 예제 4-43
seoul_sgg = pd.read_excel('./files/4_2_seoul_sgg_list.xlsx')
seoul_sgg.head()

   시군구코드  시군구명         위도          경도
0  11320   도봉구  37.665861  127.031767
1  11380   은평구  37.617612  126.922700
2  11230  동대문구  37.583801  127.050700
3  11590   동작구  37.496504  126.944307
4  11545   금천구  37.460097  126.900155

In [30]:
# 예제 4-44
seoul_starbucks = pd.read_excel('./files/4_4_seoul_starbucks_list.xlsx')
seoul_starbucks.head()

,매장명,위도,경도,매장타입,주소,전화번호,시군구명
0,역삼아레나빌딩,37.501087,127.043069,general,서울특별시 강남구 언주로 425 (역삼동),02-568-3762,강남구
1,논현역사거리,37.510178,127.022223,general,서울특별시 강남구 강남대로 538 (논현동),02-3442-3672,강남구
2,국기원사거리,37.499517,127.031495,general,서울특별시 강남구 테헤란로 125 (역삼동),02-568-3668,강남구
3,대치대원빌딩R,37.494668,127.062583,reserve,서울특별시 강남구 남부순환로 2947 (대치동),02-568-3704,강남구
4,삼성역섬유센터R,37.507750,127.060651,reserve,서울특별시 강남구 테헤란로 518 (대치동),02-568-3648,강남구

In [31]:
# 예제 4-45
starbucks_sgg_count = seoul_starbucks.pivot_table(
    index = '시군구명', 
    values='매장명', 
    aggfunc='count').rename(columns={'매장명':'스타벅스_매장수'})
starbucks_sgg_count.head()

      스타벅스_매장수
시군구명
강남구         76
강동구         13
강북구          5
강서구         15
관악구         11

In [32]:
# 예제 4-46
seoul_sgg = pd.merge(seoul_sgg, starbucks_sgg_count, how='left', on='시군구명')
seoul_sgg.head()

   시군구코드  시군구명         위도          경도  스타벅스_매장수
0  11320   도봉구  37.665861  127.031767         2
1  11380   은평구  37.617612  126.922700         8
2  11230  동대문구  37.583801  127.050700         8
3  11590   동작구  37.496504  126.944307         9
4  11545   금천구  37.460097  126.900155        10

In [35]:
# 예제 4-47
seoul_sgg_pop = pd.read_excel('./files/4_3_sgg_pop.xlsx')
seoul_sgg_pop.head()

  시군구명  주민등록인구
0  종로구  164348
1   중구  135139
2  용산구  245411
3  성동구  314551
4  광진구  371671

In [36]:
# 예제 4-48
seoul_sgg = pd.merge(seoul_sgg, seoul_sgg_pop, how='left', on='시군구명')
seoul_sgg.head()

   시군구코드  시군구명         위도          경도  스타벅스_매장수  주민등록인구
0  11320   도봉구  37.665861  127.031767         2  345041
1  11380   은평구  37.617612  126.922700         8  490253
2  11230  동대문구  37.583801  127.050700         8  364962
3  11590   동작구  37.496504  126.944307         9  406715
4  11545   금천구  37.460097  126.900155        10  253344

In [38]:
# 예제 4-49
seoul_sgg_biz = pd.read_excel('./files/4_3_sgg_biz.xlsx')
seoul_sgg = pd.merge(
    seoul_sgg, 
    seoul_sgg_biz,
    how='left',
    on='시군구명'
)
seoul_sgg.head()

   시군구코드  시군구명         위도          경도  스타벅스_매장수  주민등록인구    종사자수   사업체수
0  11320   도봉구  37.665861  127.031767         2  345041   68669  18455
1  11380   은평구  37.617612  126.922700         8  490253   87693  24179
2  11230  동대문구  37.583801  127.050700         8  364962  143858  32994
3  11590   동작구  37.496504  126.944307         9  406715  103915  19609
4  11545   금천구  37.460097  126.900155        10  253344  223058  30080

In [41]:
# 예제 4-50
seoul_sgg.to_excel('./files/4_5_seoul_sgg_stat.xlsx', index=False)