In [1]:
# 예제 4-39
import pandas as pd
seoul_starbucks = pd.read_excel('./files/4_1_seoul_starbucks_list.xlsx', header=0)
seoul_starbucks.head()

,매장명,위도,경도,매장타입,주소,전화번호
0,역삼아레나빌딩,37.501087,127.043069,general,서울특별시 강남구 언주로 425 (역삼동),02-568-3762
1,논현역사거리,37.510178,127.022223,general,서울특별시 강남구 강남대로 538 (논현동),02-3442-3672
2,국기원사거리,37.499517,127.031495,general,서울특별시 강남구 테헤란로 125 (역삼동),02-568-3668
3,대치대원빌딩R,37.494668,127.062583,reserve,서울특별시 강남구 남부순환로 2947 (대치동),02-568-3704
4,삼성역섬유센터R,37.507750,127.060651,reserve,서울특별시 강남구 테헤란로 518 (대치동),02-568-3648

In [2]:
# 예제 4-40
sgg_names = []
for address in seoul_starbucks['주소']:
    sgg = address.split()[1]
    sgg_names.append(sgg)
seoul_starbucks['시군구명'] = sgg_names
seoul_starbucks.head()

,매장명,위도,경도,매장타입,주소,전화번호,시군구명
0,역삼아레나빌딩,37.501087,127.043069,general,서울특별시 강남구 언주로 425 (역삼동),02-568-3762,강남구
1,논현역사거리,37.510178,127.022223,general,서울특별시 강남구 강남대로 538 (논현동),02-3442-3672,강남구
2,국기원사거리,37.499517,127.031495,general,서울특별시 강남구 테헤란로 125 (역삼동),02-568-3668,강남구
3,대치대원빌딩R,37.494668,127.062583,reserve,서울특별시 강남구 남부순환로 2947 (대치동),02-568-3704,강남구
4,삼성역섬유센터R,37.507750,127.060651,reserve,서울특별시 강남구 테헤란로 518 (대치동),02-568-3648,강남구

In [4]:
# 예제 4-41
seoul_starbucks.to_excel('./files/4_4_seoul_starbucks_list.xlsx', index=False)